.create-event-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20rem;
  padding: 4rem 15rem;
  margin-top: 12rem;
}

.split-container,
.dropdowns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;
}

.split-container div,
.dropdowns div {
  flex: 1;
}

.form-container {
  width: 70rem;
}
.heading {
  font-size: 5rem;
  margin-bottom: 3rem;
}
.dropdowns {
  display: flex;
  flex-direction: row;
}
.checkboxes {
  margin-top: 2rem;
}

.imgHolder {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.imgHolder img {
  margin-left: 1rem;
}
