.input-text {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.input-text label {
  font-size: 2.5rem;
  color: rgb(86, 17, 113);
  margin-left: 0.5rem;
}
.input-text .text {
  width: 100%;
  border: 1px solid rgb(86, 17, 113);
  border-radius: 1rem;
  background-color: transparent;
  padding: 2rem;
}

.input-text .desc {
  border: 1px solid rgb(86, 17, 113);
  border-radius: 1rem;
  background-color: transparent;
  padding: 5rem 3rem;
  max-width: 130rem;
}

.inputThin {
  width: 35rem;
}

.textarea {
  resize: none;
  padding: 2rem !important;
}
