/*.slider-pictures {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  
}
.Main-img {
  width: 100%;
  max-height: fit-content;
  height: auto; 
  display: block;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20%; 
  height: auto; 
  display: block;
  z-index: 1;
}
.overlayright {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20%; 
  height: auto;
  display: block;
  z-index: 1;
  padding-left: 90%;
}
*/
.img-wrapper {
  max-height: 1080px;
}
.home-image {
  width: 100%;
}
