.Navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  background-color: rgba(86, 17, 113, 0);
  border-bottom: 1px solid rgba(78, 64, 64, 0);
  transition: background-color 0.5s ease;
}

.fnav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  background-color: rgba(86, 17, 113, 1);
  border-bottom: 1px solid rgba(78, 64, 64, 1);
}

.scrolled {
  background-color: rgba(86, 17, 113, 1);
  border-bottom: 1px solid rgba(78, 64, 64, 0) 0.7;
}

.logo {
  height: 8rem;
}

.loginButtons {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-right: 3.5rem;
}

.nav-item img {
  margin: 0 1.2rem;
  width: 6rem;
  height: 6rem;
}
