.side-nav {
  width: 30.11rem;
  height: 100vh;
  background-color: #7a458f;
  position: fixed;
  margin-top: 10.1rem;
}
.sidebuttons {
  display: flex;
  flex-direction: column;
}
.side-nav-buttons {
  height: 9rem;
  border: none;
  background-color: transparent;
}

.button-container {
  font-size: 2.5rem;
  margin: 0;
}
.button-container .setting-label {
  color: #ffedff;
  font-weight: 600;
}

.selectedButton {
  background-color: #ffedff;
}

.selectedButton .setting-label {
  color: #36004c;
}

.setting-label {
}
.button-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: start;
  margin-left: 3rem;
}
.button-container img {
  vertical-align: middle;
}
